h1, h2 {
    font-family: sans-serif;
}

h1 {
    font-size: 175%;
    text-align: center;
}

p {
    font-family: serif;
}

div.box {
    position: relative;
    /* background-color: lightsalmon; */
    border: 1px solid;
    margin: 1em;
    float: left;

}

div.content {
    /* position: relative; */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

h2 {
    font-size: 125%;
    position: absolute;
    top: 0;
    right :0;
    border: 1px solid;
    margin: 0px;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}
#chicken {
    background-color: rebeccapurple;
}
#beef {
    background-color: hotpink;
}
#sushi {
    background-color: seagreen;
}

/* Breakpoints for viewers. */
@media (min-width: 992px) {
    .col-1-lg {
        width: 29%;
        background-color: blue;
    }
    .col-2-lg {
        width: 29%;
        background-color: pink;
    }
    .col-3-lg {
        width: 29%;
    }

@media (min-width: 768px) and (max-width: 991px) {
    .col-1-lg {
        width: 33%;
    }
    .col-2-lg {
        width: 66%;
    }
    .col-3-lg {
        width: 100%;
    }
   
} 

@media (max-width: 767px) {
    .col-1-lg {
        width: 33%;
    }
    #second {
        width: 66%;
    }
    #third {
        width: 100%;
    }

}
