.container {
    display: grid;
    grid-gap: 1.5em;
    padding: 1.5em;
}


/* Sans-sefif fonts should be used for headlines, Serifed fonts for
   text, and Comic Sans--NEVER */
h1, h2 {
    font-family: sans-serif;
}

h1 {
    font-size: 175%;
    text-align: center;
}

.box {
    
    background-color: lightgrey;
    border: 1px solid black;
}

p {
    font-family: serif;
}

h2 {
    height: 1.5em;
    font-size: 125%;
    float: right;
    top: 0;
    border: 1px solid;
    margin: 0px;
    min-width: 7em;
    text-align: center;

}

#chicken {
    background-color: rebeccapurple;
}
#beef {
    background-color: hotpink;
}
#sushi {
    background-color: seagreen;
}

.content {
    padding: 1.50em .5em 0em .5em;
}

#first {grid-area: chick;}
#second {grid-area: beef;}
#third {grid-area: sushi;} 


/* Breakpoints for viewers. */
@media (min-width: 992px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "chick beef sushi";
        grid-template-rows: auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "chick beef"
            "sushi sushi";
    }
} 

@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
                "chick" 
                "beef"
                "sushi";

    }

}
